

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  <!-- Main -->
    <section id="main" class="container">
      <header>
        <h2>Contacto</h2>
        <p>Tel: 33.3743.0001 / 33.3743.0002 <br> </p>
      </header>
      <!-- <div class="box">
        <form method="post" action="procesa.php">
          <div class="row gtr-50 gtr-uniform">
            <div class="col-6 col-12-mobilep">
              <input type="text" name="nombre" id="nombre" value="" placeholder="Nombre" />
            </div>
            <div class="col-6 col-12-mobilep">
              <input type="email" name="email" id="email" value="" placeholder="Email" />
            </div>
            <div class="col-12">
              <input type="text" name="subject" id="subject" value="" placeholder="Asunto" />
            </div>
            <div class="col-12">
              <textarea name="message" id="message" placeholder="Mensaje" rows="6"></textarea>
            </div>
            <div class="col-12">
              <ul class="actions special">
                <li><input type="submit" value="Enviar Mensaje" /></li>
              </ul>
            </div>
          </div>
        </form>
      </div> -->
    </section>

  <!-- Footer -->

