			<!-- Banner -->
      <section id="banner">
        <header>
          <h2>Beneficios</h2>
          <p>La forma easy de viajar</p>
        </header>
      </section>
  <!-- Main -->
    <section id="main" class="container">


      <div class="box">
        <span class="image featurede "><img class="img5"/></span>

        <h3>Condiciones</h3>
        <p>Exige tu tiket de pago
          <br>
          Visitas solo acumulables por numero de placa
          <br>
          Favor de verificar que su fecha de salida impresa en su ticket sea la correcta ya que depende que su vehiculo se encuentre lavado a su regreso
          <br>
          Lavado de vehiculo gratis en estancia mayor a 24 horas
          <br>
          Si su fecha y hora de regreso en su ticket es la correcta y su vehiculo no esta lavado se le otorgara un descuento de $30.00 pesos
          <br>
          No nos hacemos responsables por daños totales o parciales en su vehiculo</p>
      </div>
    </section>


