			<!-- Banner -->
				<section id="banner">
					<div class="logo"><img src="../../assets/img/SubMa.png" alt="logo imagen"></div>
					<p>Cotiza tu estancia</p>
					<div class="bot">
						<app-cotizacion></app-cotizacion>
					</div>
					<br>
					<ul class="actions special">
						<li><a target="_blank" href="http://api.whatsapp.com/send?phone=523334579196" class="button primary">Reservar</a></li>
						<li><a href="#comofunciona" class="button">Saber Más</a></li>
					</ul>
				</section>

			<!-- Main -->
				<section id="main" class="container">

					<section class="box special">
						<header class="major">
							<h2>easypark | estacionamiento a 3 minutos del aeropuerto Guadalajara</h2>
							<p>¿NO SABES DÓNDE GUARDAR TU AUTO MIENTRAS VIAJAS?
								<br>
								easypark es la solución perfecta para ti, con estacionamiento techado y seguridad en todo momento con nuestro circuito cerrado de cámaras. Queremos que disfrutes tu viaje sin perder un momento para ello.

								Nos preocupamos por brindar alta calidad y confianza al guardar tu vehículo, nuestra ubicación tiene un fácil acceso para tus traslados al aeropuerto. </p>
						</header>
						<span class="image featurede"><img class="img1" alt="" /></span>

          </section>

					<section class="box special features" id="comofunciona">
						<div class="features-row">
							<section>
								<span class="icon solid major fas fa-car accent2"></span>
								<h3>Reserva y visitanos</h3>
								<p>Estaciona tu auto, subimos tu equipaje y nosotros te llavamos al aeropuerto de Guadalajara.</p>
							</section>
							<section>
								<span class="icon solid major fas fa-umbrella-beach accent3"></span>
								<h3>Disfruta</h3>
								<p>Disfruta de tu viaje, tu auto esta seguro con vigilancia 24/7 y lugar techado.</p>
							</section>
						</div>
						<div class="features-row">
							<section>
								<span class="icon solid major fas fa-phone accent4"></span>
								<h3>Regresa</h3>
								<p>Llamanos a tu regreso y vamos por ti.</p>
							</section>
							<section>
								<span class="icon solid major fas fa-soap accent5"></span>
								<h3>Lavamos tu vehiculo</h3>
								<p>Lavado exterior de tu vehiculo sin ningun costo. <br> Revise las condiciones para aplicar al lavado gratís.</p>
							</section>
						</div>
					</section>

					<div class="row">
						<div class="col-6 col-12-narrower">

							<section class="box special">
								<span class="image featured"><img class="img2" alt="" /></span>
								<h3>Ubicación</h3>
								<p>Estamos ubicados a solo tres minutos del aeropuerto internacional de Guadalajara. La mejor ubicación, garantía de puntualidad.</p>
								<ul class="actions special">
									<li><a target="_blank" href="https://goo.gl/maps/EBxhMphP1YBmqWgc8" class="button alt">¿Comó llegar?</a></li>
								</ul>
							</section>

						</div>
						<div class="col-6 col-12-narrower">

							<section class="box special">
								<span class="image featured"><img class="img3" alt="" /></span>
								<h3>Beneficios easypark</h3>
								<p>Lugares más anchos, vehículos de traslado al aeropuerto, zona exclusiva en el aeropuerto. Premiamos tu lealtad.</p>
								<ul class="actions special">
									<li><a (click)="navegarBeneficio()" class="button alt">Saber Más</a></li>
								</ul>
							</section>

						</div>
					</div>

				</section>

			<!-- CTA -->
				<section id="cta">

					<h2>¡Reserva ahora!</h2>
					<p>Haz tu viaje de la forma easy y deja seguro tu automovil.</p>

					<form>
						<!-- <div class="row gtr-50 gtr-uniform"> -->
							<!-- <div class="col-8 col-12-mobilep">
								<input type="email" name="email" id="email" placeholder="Email Address" />
							</div> -->
							<div class="col-4 col-12-mobilep" >
								<a class="button alt" target="_blank" href="http://api.whatsapp.com/send?phone=523334579196">Reservar</a>
							</div>
						<!-- </div> -->
					</form>

				</section>

			<!-- Footer -->



